.options {
    display: flex;
    justify-content: space-between;
    width: 500px;

}

.opt {
    border: 5px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.feedback {
    display: flex;
    flex-direction: column;
}

.hintholder {
    display: flex;
    width: 500px;
}

.title-div {
    display: flex;
    justify-content: center;
}
